.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    
    .image{
        flex: 1 1 40rem;
        margin: 0 5rem;
        

        img{
            width: 100%;
        }
    }
    .content{
        flex: 1 1 40rem;

        h3{
            font-size: 3rem;
            color: var(--darktext);
            font-family: 'Merienda', cursive;
            padding-bottom: 1rem;
        }
        p{
            font-size: 1.6rem;
            padding: 1rem 0;
            line-height: 2;
            color: var(--lightcolor);
        }

    }
}